extends ./layouts/base

mixin text(post)
  .tumblr-text
    if (!post.reblog.tree_html == "")
      h3.tumblr-title REBLOG: #{post.title} 
      p.tumblr-subtitle #{post.date}
    else
      h3.tumblr-title #{post.title}
      p.tumblr-subtitle #{post.date}
    span!=post.body
    hr

mixin photo(post)
  .tumblr-photo
    if (!post.reblog.tree_html == "")
      h3.tumblr-title REBLOG
      p.tumblr-subtitle #{post.date}
    else
      h3.tumblr-title ART/PHOTO
      p.tumblr-subtitle #{post.date}
    img(src="#{post.photos[0].alt_sizes[0].url}")
    span!=post.caption
    hr

block content
  .blog
    //- h1.statement CODE + COMICS + ILLUSTRATION
    
    for post in tumblr
      if (post.type == 'text')
        +text(post)
      else if (post.type == 'photo')
        +photo(post)

  .center read more blog posts @ 
    a(href="http://alacritystudios.tumblr.com") alacritystudios.tumblr.com
    
